:root {
    --amarelo: #ffcb47;
    --amarelo-transparente: rgba(255, 203, 71, 0.3);
    --branco: #ffff;
    --cinza: #909090;
    --preto: #202020; 
    --preto-transparente: #0000000f;
    --familia-corpo: 'Montserrat', sans-serif;

    --tamanho-corpo: 1rem; 
}