@import url(_variaveis.css); /*importação sendo indiretamente*/
@import url(_reset.css);

body {
    font-family:  var(--familia-corpo);
    font-size: var(--tamanho-corpo);
    color: var(--cinza);
    background: url(../../img/fundo-text.png), url(../../img/fundo-linha.png);
    background-position: center;
}

/* Alinhamento do container */
.container {
    padding-left: 1rem;   
    padding-right: 1rem;
}

.titulo{
    font-size: var(--tamanho-titulo);
}

.titulo--destaque {
    font-family: var(--famalia-titulo-destaque);
    color: var(--preto);
    font-size: var(--tamanho-titulo-destaque);
    font-weight: var(--peso-titulo-destaque);
    
    display: block;
    
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
}
/* configuração de alinhamento padrão das imagens dentro do input */
.alinhamento-esquerda {
    text-align: left;
}

.alinhamento-meio {
    text-align: center;
}

.texto {
    line-height: 26px; /*altura de uma linha para outra */
}