.botao {
    background: #FFCB47;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #ffff;
    font-weight: 700;
    width: 100%;
    padding: 1rem 0;
    box-shadow: 10px 10px 30px rgba(255, 203, 71, 0.3);
    border: none;
}