.input {
    color: inherit;  /*com inherit erda de outra classe criado */
    font-family: inherit;
    font-size: inherit;

    width: 100%;

    padding-top: 1.75rem; /*top*/
    padding-left: 1.75rem; /*direita*/
    padding-bottom: 1.75rem; /* baixo */
    padding-right: 1.75rem; /*esquerda*/

    box-sizing: border-box; /*box-sizing não deixa o width mais o padding somar*/

    margin-bottom: 1rem;

    border: none; 

    background-color: var(--branco);

    box-shadow: 10px 10px 30px #0000000f;
}

/*configuração para padronizar os icones dentro de input */

.input--icone {
    padding-left: 4.25rem;

    background-repeat: no-repeat;
    background-position: left 1.75rem center; 
}

.input--email {
    background-image: url(../../img/icones/mail.svg);
}